.container {
  position: relative;
  width: 20em;
  min-height: 2em;
  border: .1em solid #DCDAC6;
  border-radius: .25em;
  display: flex;
  align-items: center;
  gap: .5em;
  outline: none;
  margin: auto;
  padding: .25em 0;
}

.container:focus {
  border-color: #58A4BB;
}

.value {
  flex: 1;
  display: flex;
  gap: .25em;
  flex-wrap: wrap;
  margin: .25em .5em;
}

.delete {
  color: #DCDAC6;
  font-size: 1.25em;
  cursor: pointer;
}

.delete:focus,
.delete:hover {
  color: #E84324
}

.divider {
  background-color: #DCDAC6;
  align-self: stretch;
  width: .1em;
}

.caret {
  margin-right: .5em;
  color: #DCDAC6;
  font-size: 1.25em;
  cursor: pointer;
}

.caret:focus,
.caret:hover {
  color: #58A4BB;
}

.options {
  position: absolute;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 12em;
  overflow-y: auto;
  border: .1em solid #58A4BB;
  border-radius: .25em;
  width: 100%;
  left: -.1em;
  top: calc(100% + .25em);
  background-color: #242424;
  z-index: 100;
}

.options.show {
  display: block;
}

.option {
  padding: .25em .5em;
  cursor: pointer;
}

.option:hover {
  background-color: #58A4BB;;
  color: #242424;
  font-weight: bold;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.option-badge {
  color: #DCDAC6;
  display: flex;
  align-items: center;
  border: .05em solid #DCDAC6;
  border-radius: .25em;
  padding: .15em .25em;
  gap: .25em;
  cursor: pointer;
  background: none;
  outline: none;
}

.option-badge:hover,
.option-badge:focus {
  color:hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 90%);
  border-color: hsl(0, 100%, 50%);
}

